Repository GoogleCloudPlatform/opentelemetry-operations-go, pull requests merged in 2020-05, with the labels that each got.

#24 Support metric exporter
  example/metric/example.go
  example/metric/go.mod
  example/metric/go.sum
  exporter/metric/cloudmonitoring.go
  exporter/metric/go.mod
  exporter/metric/go.sum
  exporter/metric/metric.go
  exporter/metric/metric_test.go
  exporter/metric/option.go
Labels: enhancement

#28 Fix aggregation handling and example
  example/metric/example.go
  exporter/metric/metric.go
Labels: metric

#32 Add comments need to be noted for future works
  example/metric/example.go
  exporter/metric/metric.go
Labels: monitoring

#34 Update metric exporter to v0.6.0 compat (#33)
  example/metric/example.go
  example/metric/go.mod
  example/metric/go.sum
  exporter/metric/cloudmonitoring.go
  exporter/metric/go.mod
  exporter/metric/go.sum
  exporter/metric/metric.go
  exporter/metric/metric_test.go
Labels: monitoring

#27 Fix 'rpc error: code = InvalidArgument desc = Invalid parent id!' errors
  exporter/trace/trace_proto.go
Labels: trace
