Repository GoogleCloudPlatform/opentelemetry-operations-go, pull requests merged in 2020-06, with the labels that each got.

#41 Change default aggregation for Counter, Observer and Recorder
  example/metric/example.go
  example/metric/go.mod
  exporter/metric/error.go
  exporter/metric/metric.go
  exporter/metric/option.go
  exporter/metric/selector.go
Labels: monitoring

#40 Update trace exporter to v0.6.0 compat (#33)
  example/trace/http/go.mod
  example/trace/http/go.sum
  exporter/trace/cloudtrace_test.go
  exporter/trace/go.mod
  exporter/trace/go.sum
  exporter/trace/trace.go
Labels: trace

#44 Add README to trace and metric exporter
  README.md
  exporter/metric/README.md
  exporter/trace/README.md
  exporter/trace/go.mod
  go.mod
Labels: documentation, monitoring, trace

#43 Add script to create an example Cloud Monitoring dashboard and README
  example/metric/README.md
  example/metric/create_dashboard.sh
  example/metric/dashboard.json
  example/metric/images/charts.png
Labels: monitoring

#46 Fix typos in the hyperlinks to READMEs
  README.md
Labels: documentation

#39 Add bundler to exporter
  example/trace/http/go.sum
  exporter/trace/cloudtrace.go
  exporter/trace/cloudtrace_test.go
  exporter/trace/go.sum
  exporter/trace/trace.go
Labels: trace

#48 Allow custom display name format for spans (#45)
  exporter/trace/cloudtrace.go
  exporter/trace/cloudtrace_test.go
  exporter/trace/trace.go
  exporter/trace/trace_proto.go
Labels: trace
